<h1>Daftar Anggota</h1>

<a href="/anggota/tambah">Tambah Anggota</a>

<div>
  <% members.forEach(member => { %>
    <div style="margin-bottom:20px;">
      <img src="<%= member.photo %>" width="150">
      <h3><%= member.nama %></h3>
      <p><%= member.jabatan %></p>
    </div>
  <% }) %>
</div>