<h1>Tambah Anggota</h1>

<form action="/anggota/tambah" method="POST" enctype="multipart/form-data">
  <input type="text" name="nama" placeholder="Nama" required>
  <input type="text" name="jabatan" placeholder="Jabatan" required>
  <input type="file" name="photo" required>
  <button type="submit">Simpan</button>
</form>