body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #14532d;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.hero {
  background: linear-gradient(135deg, #14532d, #22c55e);
  color: white;
  padding: 100px 20px;
  text-align: center;
}
